
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color:rgb(88, 85, 85);
}

.bodytwo {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color:rgb(2, 0, 0);
}

main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

.main2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {

 
    height: 100px

}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}


.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10ch;
    background-image: linear-gradient(red, yellow);
}

.far-left {
    width: 300px;
    margin: 50px;
    background-color: rgb(247, 9, 9);
    text-align: center;
    color:aliceblue;
}

.far-right {
    width: 550px;
    margin: 50px;
    height: 500px;
    background-image: url('../assets/lastmangraphic.PNG');
    position: relative;
}
.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

#logout {
    position: fixed;
    right: 20px;
    top: 90px;
}

.auth-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:aliceblue;
    margin: 150px;
}

.auth-container {
    margin: 10px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container button {
    margin: 10px;
}

section.main-section{    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
div.game-div {
    width: 750px;
    height: 550px;
    border: solid 1px black;
    display: grid;
    grid-template-rows: 19fr 1fr;
    position: relative;
}

#game-stats{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#game-over{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.right {
    justify-content: center;
    align-items: center;
}

.player-cards{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.player-card{
    border: double 5px rgb(62, 62, 62);
    border-radius: 10px;
    box-shadow: var(--shadow);
    margin: 10px;
    padding: 10px;
}

.main-lobby {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}


.lobby-left {
    display: inline;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    border-style: solid;
    border-color: black;
    position: relative;
    left: 0px;
    width: 180px;
    padding: 10px;
    top: 165px;
    margin: 25px;
    color:rgb(255, 255, 255);
    border-color: rgb(163, 155, 155);
}

.lobby-center {
    display: inline;
    flex-direction: column;
    flex-wrap: wrap;
    color:rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(163, 155, 155);
    position: relative;
    left: 0px;
    height: 700px;
    width: 350px;
    padding: 10px;
    margin: 25px;
    top: 165px;
}

.lobby-center button {
    color:rgb(255, 255, 255);
    background-color: black;
    margin: 5px;
}

.fighter-selection {
    flex-direction: column;
}

.lobby-right {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    float: right;
    border-style: solid;
    border-color: black;
    width: 400px;
    min-width: 30%;
    height: 700px;
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
    bottom: 30px;
}

.user-list p {
    margin: 0px;
}

.game-div{
    width: 700px;
    height: 490px;
    border: dotted 1px black;
    display: grid;
    grid-template-rows: 19fr 1fr;
    position: relative;

}

.player {
    width: 22px;
    height: 22px;
    position: absolute;
    border-radius: 25px;
    color:aliceblue;
}

#built-by {
    font-size: 13.5px;
    color: white;
}

footer {
    color: white;
}

.hidden {
    display: none;
}

.infected {
    background-color:rgb(225, 62, 201);
}